<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Our Date Activity ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/date_choices.css') }}">
</head>
<body>
    <div class="container">
        <div class="heart"></div>
        <h1>Choose Our Perfect Date</h1>
        <p class="selected-date-display">For {{ selected_date }}</p>
        <div class="date-choices">
            <div class="date-option" onclick="selectDateOption(1)">
                <h3>LA Tokyo and Art night ⛩️🖼️</h3>
                <p>A night of art, and tokyo vibes</p>
            </div>
            <div class="date-option" onclick="selectDateOption(2)">
                <h3>Knotts Berry Farm 🎡</h3>
                <p>A night of fun and games</p>
            </div>
            <div class="date-option" onclick="selectDateOption(3)">
                <h3> A home cooked meal + pjs and a movie 🎦</h3>
                <p>A chill night in</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='/date_choices.js') }}"></script>
</body>
</html>